@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Nunito:wght@200;600;800&display=swap');

.App {
  text-align: center;
  background: #FFFFFF;
  height: 100%;
  min-height: 100vh;
}




